<h2>Postagens</h2>
<hr>
<a href="/admin/postagens/add" style="text-decoration: none;">
    <button type="button" class="btn btn-success mt-2">Nova Postagem</button>
</a>
{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <small class="text-secondary position-sticky">{{slug}}</small>
            <div class="badge bg-secondary ms-2">#{{categoria.nome}}</div>
            <hr>
            <small class="text-secondary">{{descricao}}</small><br>
            <p>{{conteudo}}</p>            
            <a href="/admin/postagens/edit/{{_id}}"><button class="btn btn-secondary mt-2">editar</button></a>
        </div>
    </div>
{{else}}
    <h4 class="mt-4">Nenhuma postagem cadastrada!</h4>
{{/each}} 